.main_not_found {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}
.not_found {
    width: fit-content;
    margin:auto;
    margin-left: auto;
    margin-top: 50vh;
    color:white;
}